/* General */
#sk_omnibar {
    display: flex;
    flex-direction: column !important;
}
#sk_omnibar.sk_omnibar_middle {
    border-radius: 10px !important;
    max-height: 80vh !important;
}
#sk_omnibar.sk_omnibar_bottom {
    border-radius: 10px 10px 0 0 !important;
    border-bottom: 0 !important;
    max-height: 90vh !important;
}
#sk_omnibar .omnibar_timestamp {
    display: none !important;
}
#sk_omnibar .omnibar_highlight {
    color: var(--sk-red) !important;
}
#sk_omnibar .omnibar_folder {
    color: var(--sk-green) !important;
}
#sk_omnibar .omnibar_visitcount {
    color: var(--sk-blue) !important;
}

/* Search Area */
#sk_omnibarSearchArea {
    padding: 5px 0 !important;
}
#sk_omnibarSearchArea > * {
    font-size: 20px !important;
}
#sk_omnibarSearchArea > span {
    margin: 0 5px !important;
}
#sk_omnibarSearchArea .prompt::first-letter {
    text-transform: uppercase !important;
}
#sk_omnibarSearchArea .prompt:has(.separator)::after {
    content: ':' !important;
}
#sk_omnibarSearchArea .prompt img {
    display: block !important;
    margin: -1px 4px 0 !important;
}
#sk_omnibarSearchArea .separator {
    display: none !important;
}

/* Search Result */
#sk_omnibarSearchResult {
    max-height: none !important;
    overflow-y: auto;
}
#sk_omnibar.sk_omnibar_middle #sk_omnibarSearchResult {
    border-top: var(--border) !important;
}
#sk_omnibar.sk_omnibar_bottom #sk_omnibarSearchResult {
    border-bottom: var(--border) !important;
}
#sk_omnibarSearchResult li {
    padding: 7px 7px !important;
    cursor: pointer !important;
    max-height: none !important;
}
#sk_omnibarSearchResult li:hover,
#sk_omnibarSearchResult .focused {
    background-color: var(--sk-selection) !important;
}
#sk_omnibarSearchResult .icon {
    margin-left: 6px !important;
    margin-right: 17px !important;
}
#sk_omnibarSearchResult .url {
    font-weight: 500 !important;
}

/* Choose Window */
#sk_omnibarSearchResult .window {
    gap: 10px !important;
    padding: 10px !important;
}
#sk_omnibarSearchResult .tab_in_window {
    border: 3px solid var(--sk-selection) !important;
    padding: 0.1em 0.4em 0.25em !important;
    border-radius: 5px !important;
}
#sk_omnibarSearchResult .window.focused .tab_in_window,
#sk_omnibarSearchResult .window:hover .tab_in_window {
    border-color: var(--sk-background) !important;
}